@model IEnumerable<FinanceTracker.Models.Category>

@{
    ViewData["PageTitle"] = "Categories";
    ViewData["PageActionUrl"] = "/Category/AddOrEdit";
    ViewData["PageActionText"] = "+ New Category";
}

<div class="row">
    <div class="col-md-12">
        <ejs-grid id="categories" dataSource="@Model" gridLines="None" allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="8"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column field="TitleWithIcon" headerText="Title"></e-grid-column>
                <e-grid-column headerText="Type" template="#typeColumnTemplate" width="200px" ></e-grid-column>
                <e-grid-column template="#actionColumnTemplate" headerText="Actions" width="200px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>

<script id="typeColumnTemplate" type="text/x-template">
    ${if(Type=="Income")}
        <span class="badge bg-success">${Type}</span>
    ${else}
        <span class="badge bg-danger">${Type}</span>
    ${/if}
</script>

<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
            <a class="btn btn-sm me-5 icon-edit-custom" href="/Category/AddOrEdit/${CategoryId}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
</svg></a>
         <form action="/Category/Delete/${CategoryId}" method="post">
             @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm icon-delete-custom" onclick="return confirm(&quot;Are you sure to delete this record?&quot;)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
    </svg>
            </button>
        </form>
    </div>
   
</script>